<div class="container">
  <h1>Marka Listele & Ekle</h1>
  <mat-form-field appearance="outline">
    <input matInput placeholder="Aranacak Bir Değer Giriniz">
  </mat-form-field>
  <button mat-fab color="primary" matTooltip="Marka Ekle" (click)="Ekle()">
    <mat-icon aria-label="label">add</mat-icon>
  </button>
  <p>&nbsp;</p>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="marka_Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Marka Id
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.marka_Id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="marka_Adi">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Marka Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.marka_Adi}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        <button mat-icon-button matTooltip="Ürün Düzenle" (click)="Duzenle(kayit)">
          <mat-icon aria-label="label" color="primary">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Ürün Sil" (click)="Sil(kayit)">
          <mat-icon aria-label="label" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
  </mat-paginator>
</div>