<div class="container" class="margin">
  <mat-card class="example-card" *ngFor="let urun of urunler">
    <mat-card-header>
      <mat-card-title>{{urun.urun_Adi}}</mat-card-title>
      <mat-card-subtitle> {{urun.urun_Aciklama}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="servis.SiteUrl+'/Dosyalar/'+ urun.urun_Foto1" style="width: 200px; height: 150px;" />

    <mat-card-content>
      <p>
        {{urun.urun_Satis_Fiyat | currency : '₺'}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="SepeteEkle(urun)">Sepete Ekle</button>
      <button mat-stroked-button color="primary" [routerLink]="['/urundetay/',urun.urun_Id]">Detay</button>
    </mat-card-actions>
  </mat-card>
</div>