<div class="container">
  <h2>Üye Ol</h2>

</div>
<form [formGroup]="frmGroup">
  <mat-form-field>
    <mat-label>Ad Soyad</mat-label>
    <input matInput placeholder="Ad Soyad" type="text" formControlName="uye_Ad_Soyad">
  </mat-form-field>

  <mat-form-field>
    <mat-label>E-Mail</mat-label>
    <input matInput placeholder="E-Mail" type="text" formControlName="uye_E_Mail" #email>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Şifre</mat-label>
    <input matInput placeholder="Şifre" type="text" formControlName="uye_Sifre" #parola>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="KayitOl(frmGroup.value)">Kayıt Ol</button>&nbsp;
</form>