<mat-sidenav-container class="sidenav-container" class="mat-elevation-z4" style="background-color: 3F51B5;">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Hoşgeldiniz {{uyeadi}}</mat-toolbar>
    <mat-nav-list *ngFor="let k of kategori">
      <a mat-list-item href="#" *ngIf="!servis.oturumKontrolAdmin()">{{k.kategori_Adi}}</a>
    </mat-nav-list>

    <mat-nav-list *ngIf="servis.oturumKontrolAdmin()">
      <a mat-list-item href="admin/urunekle">Ürün Ekle</a>
      <a mat-list-item href="admin/kategorieklelistele">Kategori</a>
      <a mat-list-item href="admin/markaeklelistele">Marka</a>
      <a mat-list-item href="admin/uyeislemleri">Üye İşlemleri</a>
      <a mat-list-item href="admin/satılan">Satılan Ürünler</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z5">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>e-ticaret</span>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">Hesabım</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/login']" *ngIf="!servis.oturumKontrol()">Oturum Aç</button>
        <button mat-menu-item (click)="OturumKapat()" *ngIf="servis.oturumKontrol()">Oturum Kapat</button>
        <button mat-menu-item [routerLink]="['/sepet']">Sepetim</button>
        <button mat-menu-item [routerLink]="['/uye']">deneme</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>