<mat-card class="mat-elevation-z5">
  <div class="container">
    <form [formGroup]="frm">

      <mat-form-field appearance="outline">
        <mat-label>Ürünün Adı</mat-label>
        <input matInput formControlName="urun_Adi">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 50%;">
        <mat-label>Ürünün Kategorisi</mat-label>
        <mat-select formControlName="kategori_Id">
          <mat-option [value]="Kategori.kategori_Id" *ngFor="let Kategori of kategori">{{Kategori.kategori_Adi}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 50%;">
        <mat-label>Ürünün Markası</mat-label>
        <mat-select formControlName="marka_Id">
          <mat-option [value]="Marka.marka_Id" *ngFor="let Marka of marka">{{Marka.marka_Adi}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 50%;">
        <mat-label>Ürünün Stok Bilgisi</mat-label>
        <input matInput formControlName="urun_Stok">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 50%;">
        <mat-label>Ürünün Geliş Fiyatı</mat-label>
        <input matInput formControlName="urun_Gelis_Fiyat">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 50%;">
        <mat-label>Ürünün Satış Fiyatı</mat-label>
        <input matInput formControlName="urun_Satis_Fiyat">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 50%;">
        <mat-label>Ürünün KDV</mat-label>
        <input matInput formControlName="urun_KDV">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ürünün Açıklaması</mat-label>
        <textarea matInput formControlName="urun_Aciklama"></textarea>
      </mat-form-field>

      <input type="file" hidden="true" #foto (change)="FotoSec($event)" onclick="this.value=null">
      <button mat-raised-button color="primary" (click)="foto.click()" accept=".jpg,.png">Fotoğraf Seç</button>






      <!-- <ng-container matColumnDef="ogrFoto">
        <mat-header-cell *matHeaderCellDef> Fotoğraf
        </mat-header-cell>
        <mat-cell *matCellDef="let kayit">
          <img [src]="apiServis.siteUrl+'/Dosyalar/'+kayit.ogrFoto" style="width: 100px;"
            matTooltip="Fotoğrafı Güncellemek İçin Tıklayınız..." (click)="FotoYukle2(kayit)" />
  
        </mat-cell>
      </ng-container>


      
      <ng-container matColumnDef="ogrFoto">
        <mat-header-cell *matHeaderCellDef> Fotoğraf
        </mat-header-cell>
        <mat-cell *matCellDef="let kayit">
          <img [src]="apiServis.siteUrl+'/Dosyalar/'+kayit.ogrFoto" style="width: 100px;"
            matTooltip="Fotoğrafı Güncellemek İçin Tıklayınız..." (click)="FotoYukle3(kayit)" />
  
        </mat-cell>
      </ng-container> -->






      <button mat-raised-button color="primary" (click)="Kaydet(frm.value)">Kaydet</button>
    </form>

  </div>
</mat-card>